<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingchi.ailife.mapper.IAiPromptLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ai_prompt_log (
            session_id, prompt_type, prompt_content, response_content, token_usage
        ) VALUES (
            #{sessionId}, #{promptType}, #{promptContent}, #{responseContent}, #{tokenUsage}
        )
    </insert>
</mapper>
